@tailwind base;
@tailwind components;
@tailwind utilities;

#arrow {
    /* bottom: 50px; */
    position: relative;
    /* cursor: pointer; */
}

#gif {
    margin-top: 5rem;
}

.video {
    border-radius: 3em;
}