@tailwind base;
@tailwind components;
@tailwind utilities;

#arrow {
    position: relative;
    cursor: pointer;
}

#gif {
    margin-top: 5rem;
}

.video {
    border-radius: 3em;
}

#textspanletters {
    display: inline-block;
    font-size: 4rem;
}

.bottom-16 {
    bottom: 1rem;
}

